.gitmessage
tests/re2google
.DS_Store
src/*.o
src/*.so
src/re2google/.git
src/re2google/*.pyc
src/re2google/*.orig
src/re2google/core
src/re2google/obj/
src/re2google/benchlog.*
src/re2google/re2/*.o
src/re2google/util/*.o
